.cardCom{
    top: 100px;
    background: linear-gradient(to top, #92FFC0, #002661);
    border: 1px solid #02e0fd;
}

.containerUser{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    top: 100px;
}

.noUserFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}